@model ModeloCrearAlquiler;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/CrearAlquiler.css">
    <title>REALIZAR ALQUILER</title>
</head>
<body class="BodyCrearAlquiler">
    <div class="ContenidoBodyCrearAlquiler">
        <div class="DivBarraNavegacionCrearAlquiler">
            <nav class="BarraNavegacionCrearAlquiler">
                <div class="LinkLogoCrearAlquiler">
                    <a asp-controller="Inicio" asp-action="Inicio"><img class="ImagenLogo" src="~/imagenes/Logo.webp"
                            alt="Logotipo" /></a>
                </div>
                <div class="DivLinkCrearAlquiler">
                    <a asp-controller="Usuario" asp-action="IniciarSesion" class="LinkCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-login-2 IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="TextoLinkCrearAlquiler">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkCrearAlquiler">
                    <a asp-controller="Usuario" asp-action="InformacionUsuario" class="LinkCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="TextoLinkCrearAlquiler">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkCrearAlquiler">
                    <a asp-controller="Vehiculo" asp-action="InformacionVehiculos" class="LinkCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="TextoLinkCrearAlquiler">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkCrearAlquiler">
                    <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-history IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 8l0 4l2 2" />
                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>
                        <span class="TextoLinkCrearAlquiler">Ver Mis Alquileres</span>
                    </a>
                </div>
                <div class="DivLinkCrearAlquiler">
                    <a asp-controller="Usuario" asp-action="CerrarSesion" class="LinkCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="TextoLinkCrearAlquiler">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContenidoCrearAlquiler">
            <div class="DivEncabezadoCrearAlquiler">
                <header class="EncabezadoCrearAlquiler">
                    <h1 class="TituloPrincipalCrearAlquiler">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivContenidoPrincipalCrearAlquiler">
                <div class="DivPrincipalCrearAlquiler">
                    <main role="main" class="PrincipalCrearAlquiler">
                        <div class="ContenidoPrincipalCrearAlquiler">
                            <div class="DivTituloFormularioCrearAlquiler">
                                <h2 class="TituloFormularioCrearAlquiler">Realizar Alquiler</h2>
                            </div>
                            <div class="DivFormularioCrearAlquilerl">
                                <form asp-controller="Alquiler" asp-action="AccionCrearAlquiler" method="post" class="FormularioCrearAlquilerl">
                                    <input type="hidden" id="Vehiculo" name="Vehiculo" value="@Model.Vehiculo.Id"/>
                                    <div class="DivFormularioCrearAlquilerlInputsInterior">
                                        <div class="DivFormularioDivFormularioCrearAlquilerInputsInteriorIzquieda">
                                            <label class="EtiquetaFormulario">Fecha Inicio Alquiler</label>
                                            <input type="datetime-local" name="FechaInicio" id="FechaInicio"
                                                class="InputFechaHora ComponenteFormulario" />
                                            <label class="EtiquetaFormulario">Fecha Fin Alquiler</label>
                                            <input type="datetime-local" name="FechaFin" id="FechaFin" disabled
                                                class="InputFechaHora ComponenteFormulario" />
                                        </div>
                                        <div class="DivFormularioCrearAlquilerInputsInteriorDerecha">
                                            <div class="DivInformacionFormularioCrearAlquilerl">
                                                <label class="EtiquetaFormulario">Vehículo</label>
                                                <input type="text" class="ComponenteFormulario InputTextoFormulario"
                                                    readonly
                                                    value="@Model.Vehiculo.TipoVehiculo : @Model.Vehiculo.Linea" />
                                            </div>
                                            <div class="DivInformacionFormularioCrearAlquilerl">
                                                <label class="EtiquetaFormulario">Ciudad</label>
                                                <input type="text" class="ComponenteFormulario InputTextoFormulario"
                                                    readonly value="@Model.Vehiculo.Ciudad" />
                                            </div>
                                            <div class="DivInformacionFormularioCrearAlquilerl">
                                                <label class="EtiquetaFormulario">Lugar de Recogida y Entega</label>
                                                <select class="ComponenteFormulario SelectFormulario" name="Lugar">
                                                    <option value=0 selected disabled class="OptionSelectFormulario">
                                                        Seleccione un Lugar</option>
                                                    @foreach (var Place in Model.Lugares)
                                                    {
                                                        <option value=@Place.Id class="OptionSelectFormulario">@Place.Nombre
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="DivInformacionFormularioCrearAlquilerl">
                                                <span class="SpanCheckBoxLavada EtiquetaFormulario">
                                                    <div class="DivCheckBoxLavada">
                                                        <input id="BotonLavadaVehiculo" type="checkbox" name="SiLavada">
                                                        <label for="BotonLavadaVehiculo">
                                                            <div class="DivMarcador"></div>
                                                        </label>
                                                    </div>
                                                    Agregar lavada
                                                </span>
                                                <input type="text" id="PrecioLavadaVehiculo"
                                                    class="ComponenteFormulario InputTextoFormulario" readonly />
                                            </div>
                                            <div class="DivInformacionFormularioCrearAlquilerl">
                                                <label class="EtiquetaFormulario">Seguro</label>
                                                <select class="ComponenteFormulario SelectFormulario" name="Seguro" id="Seguro">
                                                    <option value=0 selected disabled class="OptionSelectFormulario">
                                                        Seleccione un Seguro</option>
                                                    @foreach (var Insurance in Model.Seguros)
                                                    {
                                                        <option value=@Insurance.Id class="OptionSelectFormulario">
                                                            @Insurance.NombreSeguroAlquiler
                                                            (@Insurance.PrecioSeguroAlquiler)</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="DivInformacionFormularioCrearAlquilerl">
                                                <button id="BotonCalcularPrecioAlquiler"
                                                    class="ComponenteFormulario BotonFormulario">Calcular Total
                                                    Alquiler</button>
                                                <input type="text" value="" id="PrecioAlquiler" name="Precio"
                                                    class="ComponenteFormulario InputTextoFormulario" readonly/>
                                            </div>
                                            <div class="DivInformacionFormularioCrearAlquilerl">
                                                <label class="EtiquetaFormulario">Método de Pago</label>
                                                <select class="ComponenteFormulario SelectFormulario" name="MetodoPago">
                                                    <option value=0 selected disabled class="OptionSelectFormulario">
                                                        Seleccione un Método de Pago</option>
                                                    @foreach (var PaymentMethod in Model.MetodosPago)
                                                    {
                                                        <option value=@PaymentMethod.Id class="OptionSelectFormulario">
                                                            @PaymentMethod.Nombre</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="DivFormularioCrearAlquilerlBotonInterior">
                                        <input type="submit" value="Realizar Alquiler"
                                            class="BotonEnviarFormularioCrearAlquilerl" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterCrearAlquiler">
                <footer class="FooterCrearAlquiler">
                    <span class="TextoFooterCrearAlquiler">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/js/CrearAlquiler.js"></script>
</body>
</html>