@model ModeloAlquiler;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" Contenido="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/InformacionAlquilerPropietario.css">
    <title>INFORMACIÓN ALQUILER</title>
</head>

<body class="BodyInformacionAlquilerPropietario">
    <div class="ContenidoBodyInformacionAlquilerPropietario">
        <div class="DivBarraNavegacionInformacionAlquilerPropietario">
            <nav class="BarraNavegacionInformacionAlquilerPropietario">
                <div class="LinkLogoInformacionAlquilerPropietario">
                    <a asp-controller="Inicio" asp-action="Inicio"><img class="ImagenLogo" src="~/imagenes/@ViewBag.RutaFoto"
                            alt="Logotipo" /></a>
                </div>
                <div class="DivLinkInformacionAlquilerPropietario">
                    <a asp-controller="Usuario" asp-action="IniciarSesion" class="LinkInformacionAlquilerPropietario">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-login-2 IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionAlquilerPropietario">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkInformacionAlquilerPropietario">
                    <a asp-controller="Usuario" asp-action="InformacionUsuario"
                        class="LinkInformacionAlquilerPropietario">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="TextoLinkInformacionAlquilerPropietario">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkInformacionAlquilerPropietario">
                    <a asp-controller="Vehiculo" asp-action="InformacionVehiculos"
                        class="LinkInformacionAlquilerPropietario">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="TextoLinkInformacionAlquilerPropietario">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkInformacionAlquilerPropietario">
                    @if(ViewBag.AlquileresPendientes > 0){
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres"
                        class="LinkInformacionAlquilerPropietario">
                            <div class="DivAlquieleresPendientes">
                                <p class="AlquieleresPendientes">
                                    @ViewBag.AlquileresPendientes
                                </p>
                            </div>
                            <span class="TextoLinkInformacionAlquilerPropietario">Ver Mis Alquileres</span>
                        </a>
                    }else{
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres"
                        class="LinkInformacionAlquilerPropietario">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-history IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 8l0 4l2 2" />
                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>
                        <span class="TextoLinkInformacionAlquilerPropietario">Ver Mis Alquileres</span>
                    </a>
                    }
                </div>
                <div class="DivLinkInformacionAlquilerPropietario">
                    <a asp-controller="Usuario" asp-action="CerrarSesion" class="LinkInformacionAlquilerPropietario">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionAlquilerPropietario">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContenidoInformacionAlquilerPropietario">
            <div class="DivEncabezadoInformacionAlquilerPropietario">
                <header class="EncabezadoInformacionAlquilerPropietario">
                    <h1 class="TituloPrincipalInformacionAlquilerPropietario">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivContenidoPrincipalInformacionAlquilerPropietario">
                <div class="DivPrincipalInformacionAlquilerPropietario">
                    <main role="main" class="PrincipalInformacionAlquilerPropietario">
                        <div class="ContenidoPrincipalInformacionAlquilerPropietario">
                            <div class="InformacionAlquilerParte1">
                                <div class="DivComponentesInformacionAlquiler">
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="FechaInicio"
                                            value="@Model.FechaIncio" readonly>
                                        <label for="FechaInicio" class="EtiquetaInformacionAlquiler">
                                            Fecha de Inicio
                                        </label>
                                    </div>
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="FechaFin"
                                            value="@Model.FechaFin" readonly>
                                        <label for="FechaFin" class="EtiquetaInformacionAlquiler">
                                            Fecha de Fin
                                        </label>
                                    </div>
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="PrecioAlquiler"
                                            value="@Model.Precio" readonly>
                                        <label for="PrecioAlquiler" class="EtiquetaInformacionAlquiler">
                                            Precio del Alquiler
                                        </label>
                                    </div>
                                </div>
                                <div class="DivComponentesInformacionAlquiler">
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="TipoVehiculo"
                                            value="@Model.Vehiculo.TipoVehiculo" readonly>
                                        <label for="TipoVehiculo" class="EtiquetaInformacionAlquiler">
                                            Tipo de Vehículo
                                        </label>
                                    </div>
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="Vehiculo"
                                            value="@Model.Vehiculo.Marca: @Model.Vehiculo.Linea" readonly>
                                        <label for="Vehiculo" class="EtiquetaInformacionAlquiler">
                                            Vehiculo
                                        </label>
                                    </div>
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="LugarAlquiler"
                                            value="@Model.Lugar" readonly>
                                        <label for="LugarAlquiler" class="EtiquetaInformacionAlquiler">
                                            Lugar de REcogida y Entrega
                                        </label>
                                    </div>
                                </div>
                                <div class="DivComponentesInformacionAlquiler">
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="Seguro"
                                            value="@Model.Seguro (@Model.PrecioSeguro)" readonly>
                                        <label for="Seguro" class="EtiquetaInformacionAlquiler">
                                            Seguro
                                        </label>
                                    </div>
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="MétodoPago"
                                            value="@Model.MetodoPago" readonly>
                                        <label for="MétodoPago" class="EtiquetaInformacionAlquiler">
                                            Método de Pago
                                        </label>
                                    </div>
                                    <div class="DivEtiquetaInput">
                                        <input type="text" class="InputTextoInformacionAlquiler" id="EstadoPago"
                                            value="@Model.EstadoPago" readonly>
                                        <label for="EstadoPago" class="EtiquetaInformacionAlquiler">
                                            Estado del Pago
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="InformacionAlquilerParte2">
                                <div class="InformacionAlquiler">
                                    <div class="DivEstadoAlquiler">
                                        <div class="DivEtiquetaInput">
                                            <input type="text" class="InputTextoInformacionAlquiler" id="EstadoAlquiler"
                                                value="@Model.Estado" readonly>
                                            <label for="EstadoAlquiler" class="EtiquetaInformacionAlquiler">
                                                Estado del Alquiler
                                            </label>
                                        </div>
                                        <div class="DivEtiquetaInput">
                                            <input type="text" class="InputTextoInformacionAlquiler" id="Alquilador"
                                                value="@Model.Alquilador.Usuario.Nombre @Model.Alquilador.Usuario.Apellido">
                                            <label for="Alquilador" class="EtiquetaInformacionAlquiler" readonly>
                                                Alquilador
                                            </label>
                                        </div>
                                    </div>
                                    <div class="DivCalificacionComentario">
                                        <div class="DivEtiquetaInput">
                                            <input type="text" class="InputTextoInformacionAlquiler Calificacion"
                                                id="Calificacion" value="@Model.Calificacion" readonly>
                                            <label for="Calificacion" class="EtiquetaInformacionAlquiler">
                                                Calificacion
                                            </label>
                                        </div>
                                        <div class="DivEtiquetaInput">
                                            <p class="InputTextoInformacionAlquiler AreaComentario" readonly>
                                                @Model.ComentarioCalificacion
                                            </p>
                                            <label for="Comentario" class="EtiquetaInformacionAlquiler">
                                                Comentario
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="DivFotoVehiculo">
                                    <img src="~/FotoVehiculos/@Model.Vehiculo.RutaFoto" class="FotoVehiculo"
                                        alt="Foto de @Model.Vehiculo.Marca @Model.Vehiculo.Linea">
                                </div>
                            </div>
                            <div class="InformacionAlquilerParte3">
                                @if (Model.Estado == "Iniciado")
                                {
                                    <a asp-controller="Alquiler" asp-action="AccionFinalizarAlquiler" asp-route-IdAlquiler=@Model.Id
                                        class="LinkInformacionAlquiler">
                                        Finalizar Alquiler
                                    </a>
                                }
                                else
                                {
                                    <a class="LinkInformacionAlquiler">
                                        Finalizar Alquiler
                                    </a>
                                }
                                <a asp-controller="Reporte" asp-action="GenerarReporteAlquilerPropietarioPDF" asp-route-IdAlquiler=@Model.Id
                                        class="LinkInformacionAlquiler LinkInformacionAlquilerPDF">
                                    Generar PDF
                                </a>
                                <a asp-controller="Reporte" asp-action="EnviarReportesAlquilerPropietarioPorCorreo" asp-route-IdAlquiler=@Model.Id
                                        class="LinkInformacionAlquiler LinkInformacionAlquilerCorreo">
                                    Enviar reporte al Correo
                                </a>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterInformacionAlquilerPropietario">
                <footer class="FooterInformacionAlquilerPropietario">
                    <span class="TextoFooterInformacionAlquilerPropietario">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>