@model ModeloVehiculo;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/InformacionVehiculoCrearAlquiler.css" />
    <title>INFORMACIÓN VEHÍCULO</title>
</head>

<body class="BodyInformacionVehiculoCrearAlquiler">
    <div class="ContenidoBodyInformacionVehiculoCrearAlquiler">
        <div class="DivBarraNavegacionInformacionVehiculoCrearAlquiler">
            <nav class="BarraNavegacionInformacionVehiculoCrearAlquiler">
                <div class="LinkLogoInformacionVehiculoCrearAlquiler">
                    <a asp-controller="Inicio" asp-action="Inicio"><img class="ImagenLogo" src="~/imagenes/Logo.webp"
                            alt="Logotipo" /></a>
                </div>
                <div class="DivLinkInformacionVehiculoCrearAlquiler">
                    <a asp-controller="Usuario" asp-action="IniciarSesion" class="LinkInformacionVehiculoCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-login-2 IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculoCrearAlquiler">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculoCrearAlquiler">
                    <a asp-controller="Usuario" asp-action="InformacionUsuario"
                        class="LinkInformacionVehiculoCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculoCrearAlquiler">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculoCrearAlquiler">
                    <a asp-controller="Vehiculo" asp-action="InformacionVehiculos"
                        class="LinkInformacionVehiculoCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculoCrearAlquiler">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculoCrearAlquiler">
                    @if (ViewBag.AlquileresPendientes > 0)
                    {
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkInformacionVehiculoCrearAlquiler">
                            <div class="DivAlquieleresPendientes">
                                <p class="AlquieleresPendientes">
                                    @ViewBag.AlquileresPendientes
                                </p>
                            </div>
                            <span class="TextoLinkInformacionVehiculoCrearAlquiler">Ver Mis Alquileres</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkInformacionVehiculoCrearAlquiler">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-history IconoLinkSVG" width="35" height="35"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 8l0 4l2 2" />
                                <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                            </svg>
                            <span class="TextoLinkInformacionVehiculoCrearAlquiler">Ver Mis Alquileres</span>
                        </a>
                    }
                </div>
                <div class="DivLinkInformacionVehiculoCrearAlquiler">
                    <a asp-controller="Usuario" asp-action="CerrarSesion" class="LinkInformacionVehiculoCrearAlquiler">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculoCrearAlquiler">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContenidoInformacionVehiculoCrearAlquiler">
            <div class="DivEncabezadoInformacionVehiculoCrearAlquiler">
                <header class="EncabezadoInformacionVehiculoCrearAlquiler">
                    <h1 class="PrincipalTitlelInformacionVehiculoCrearAlquiler">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivContenidoPrincipalInformacionVehiculoCrearAlquiler">
                <div class="DivPrincipalInformacionVehiculoCrearAlquiler">
                    <main role="main" class="PrincipalInformacionVehiculoCrearAlquiler">
                        <div class="ContenidoPrincipalInformacionVehiculoCrearAlquiler">
                            <div class="DivInformacionVehiculosParte1">
                                <div class="DivGrupoInformacionVehiculoParte1">
                                    <div class="DivGrupo2Componentes">
                                        <label class="TitluloInformacionVehiculoCrearAlquiler">Tipo de Vehículo</label>
                                        <input class="ValorInformacionVehiculoCrearAlquilerParte1" type="text"
                                            value="@Model.TipoVehiculo" readonly />
                                    </div>
                                    <div class="DivGrupo2Componentes">
                                        <label class="TitluloInformacionVehiculoCrearAlquiler">Marca</label>
                                        <input class="ValorInformacionVehiculoCrearAlquilerParte1" type="text"
                                            value="@Model.Marca" readonly />
                                    </div>
                                    <div class="DivGrupo2Componentes">
                                        <label class="TitluloInformacionVehiculoCrearAlquiler">Linea</label>
                                        <input class="ValorInformacionVehiculoCrearAlquilerParte1 LineaVehiculo"
                                            type="text" value="@Model.Linea" readonly />
                                    </div>
                                </div>
                                <div class="DivGrupoInformacionVehiculoParte1">
                                    <div class="DivGrupo2Componentes">
                                        <label class="TitluloInformacionVehiculoCrearAlquiler">Clasificación del
                                            Vehículo</label>
                                        <input class="ValorInformacionVehiculoCrearAlquilerParte1" type="text"
                                            value="@Model.ClasificacionVehiculo" readonly />
                                    </div>
                                    <div class="DivGrupo2Componentes">
                                        <label class="TitluloInformacionVehiculoCrearAlquiler">Color</label>
                                        <input class="ValorInformacionVehiculoCrearAlquilerParte1" type="text"
                                            value="@Model.Color" readonly />
                                    </div>
                                    <div class="DivGrupo2Componentes">
                                        <label class="TitluloInformacionVehiculoCrearAlquiler">Ciudad</label>
                                        <input class="ValorInformacionVehiculoCrearAlquilerParte1 CiudadVehiculo"
                                            type="text" value="@Model.Ciudad" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="DivInformacionVehiculosParte2">
                                <div class="DivInformacionVehiculosParte2Informacion">
                                    <div class="DivGrupoInformacionVehiculoParte2">
                                        <div class="DivGrupo2Componentes">
                                            <label class="TitluloInformacionVehiculoCrearAlquiler">Modelo</label>
                                            <input class="ValorInformacionVehiculoCrearAlquilerParte2" type="text"
                                                value="@Model.Modelo" readonly />
                                        </div>
                                        <div class="DivGrupo2Componentes">
                                            <label class="TitluloInformacionVehiculoCrearAlquiler">Cantidad de
                                                Pasajeros</label>
                                            <input class="ValorInformacionVehiculoCrearAlquilerParte2" type="text"
                                                value="@Model.CantidadPasajeros" readonly />
                                        </div>
                                    </div>
                                    <div class="DivGrupoInformacionVehiculoParte2">
                                        <div class="DivGrupo2Componentes">
                                            <label class="TitluloInformacionVehiculoCrearAlquiler">Cilindrada</label>
                                            <input class="ValorInformacionVehiculoCrearAlquilerParte2" type="text"
                                                value="@Model.Cilindrada" readonly />
                                        </div>
                                        <div class="DivGrupo2Componentes">
                                            <label class="TitluloInformacionVehiculoCrearAlquiler">Tipo de
                                                Combustible</label>
                                            <input class="ValorInformacionVehiculoCrearAlquilerParte2" type="text"
                                                value="@Model.TipoCombustible" readonly />
                                        </div>
                                    </div>
                                    <div class="DivGrupoInformacionVehiculoParte2">
                                        <div class="DivGrupo2Componentes">
                                            <label class="TitluloInformacionVehiculoCrearAlquiler">Precio de Alquiler
                                                (Por
                                                Día)</label>
                                            <input class="ValorInformacionVehiculoCrearAlquilerParte2 Precio"
                                                type="text" value="@Model.PrecioAlquilerDia" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="DivInformacionVehiculosParte2FotoVehiculo">
                                    <img class="FotoVehiculo" src="~/FotoVehiculos/@Model.RutaFoto"
                                        alt="Foto de @Model.TipoVehiculo : @Model.Marca @Model.Linea" />
                                </div>
                            </div>
                            <div class="DivInformacionVehiculosParte3">
                                <a class="LinkBotonInformacionVehiculoCrearAlquiler" asp-controller="Inicio"
                                    asp-action="Inicio">
                                    <button class="BotonInformacionVehiculoCrearAlquiler">Volver al Inicio</button>
                                </a>
                                <a class="LinkBotonInformacionVehiculoCrearAlquiler" target="_blank"
                                    asp-controller="Alquiler" asp-action="CrearAlquiler" asp-route-IdVehiculo=@Model.Id>
                                    <button class="BotonInformacionVehiculoCrearAlquiler">
                                        Realizar Alquiler
                                    </button>
                                </a>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterInformacionVehiculoCrearAlquiler">
                <footer class="FooterInformacionVehiculoCrearAlquiler">
                    <span class="TextoFooterInformacionVehiculoCrearAlquiler">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>