@model List<ModeloVehiculo>;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/InformacionVehiculos.css">
    <title>INFORMACIÓN VEHÍCULOS</title>
</head>

<body class="BodyInformacionVehiculos">
    <div class="ContenidoBodyInformacionVehiculos">
        <div class="DivBarraNavegacionInformacionVehiculos">
            <nav class="BarraNavegacionInformacionVehiculos">
                <div class="LinkLogoInformacionVehiculos">
                    <a asp-controller="Inicio" asp-action="Inicio"><img class="ImagenLogo"
                            src="~/imagenes/@ViewBag.RutaFoto" alt="Logotipo" /></a>
                </div>
                <div class="DivLinkInformacionVehiculos">
                    <a asp-controller="Usuario" asp-action="IniciarSesion" class="LinkInformacionVehiculos">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-login-2 IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculos">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculos">
                    <a asp-controller="Usuario" asp-action="InformacionUsuario" class="LinkInformacionVehiculos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculos">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculos">
                    <a asp-controller="Vehiculo" asp-action="InformacionVehiculos" class="LinkInformacionVehiculos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculos">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculos">
                    @if (ViewBag.AlquileresPendientes > 0)
                    {
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkInformacionVehiculos">
                            <div class="DivAlquieleresPendientes">
                                <p class="AlquieleresPendientes">
                                    @ViewBag.AlquileresPendientes
                                </p>
                            </div>
                            <span class="TextoLinkInformacionVehiculos">Ver Mis Alquileres</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkInformacionVehiculos">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-history IconoLinkSVG" width="35" height="35"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 8l0 4l2 2" />
                                <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                            </svg>
                            <span class="TextoLinkInformacionVehiculos">Ver Mis Alquileres</span>
                        </a>
                    }
                </div>
                <div class="DivLinkInformacionVehiculos">
                    <a asp-controller="Usuario" asp-action="CerrarSesion" class="LinkInformacionVehiculos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculos">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContenidoInformacionVehiculos">
            <div class="DivEncabezadoInformacionVehiculos">
                <header class="EncabezadoInformacionVehiculos">
                    <h1 class="PrincipalTitlelInformacionVehiculos">@ViewBag.NombreEmpresa</h1>
                </header>
            </div>
            <div class="DivContenidoPrincipalInformacionVehiculos">
                <div class="DivPrincipalInformacionVehiculos">
                    <main role="main" class="PrincipalInformacionVehiculos">
                        <div class="ContenidoPrincipalInformacionVehiculos">
                            <div class="DivCrearVehiculo">
                                <a asp-controller="Vehiculo" asp-action="RegistrarVehiculo"
                                    class="LinkRegistrarVehiculo">Registrar Vehículo</a>
                            </div>
                            <div class="TarjetasVehiculosInformacionVehiculos">
                                @if (Model.Count() > 0)
                                {
                                    @foreach (var Vehiculo in Model)
                                    {
                                        if (Vehiculo.Estado == "Activo")
                                        {
                                            <div class="InformacionModeloVehiculoActivo">
                                                <a class="LinkInformacionModeloVehiculo" asp-controller="Vehiculo"
                                                    asp-action="InformacionVehiculo" asp-route-IdVehiculo=@Vehiculo.Id>
                                                    <h3 class="TextoLinkInformacionModeloVehiculo">@Vehiculo.TipoVehiculo:
                                                        @Vehiculo.Marca @Vehiculo.Linea</h3>
                                                </a>
                                                <p class="TituloInformacionModeloVehiculo">Ciudad: <span
                                                        class="ValorInformacionModeloVehiculo">@Vehiculo.Ciudad</span></p>
                                                <img class="FotoVehiculo" src="~/FotoVehiculos/@Vehiculo.RutaFoto"
                                                    alt="Foto de @Vehiculo.TipoVehiculo : @Vehiculo.Marca @Vehiculo.Linea" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="InformacionModeloVehiculoInactivo">
                                                <a class="LinkInformacionModeloVehiculo" asp-controller="Vehiculo"
                                                    asp-action="InformacionVehiculo" asp-route-IdVehiculo=@Vehiculo.Id>
                                                    <h3 class="TextoLinkInformacionModeloVehiculo">@Vehiculo.TipoVehiculo:
                                                        @Vehiculo.Marca @Vehiculo.Linea</h3>
                                                </a>
                                                <p class="TituloInformacionModeloVehiculo">Ciudad: <span
                                                        class="ValorInformacionModeloVehiculo">@Vehiculo.Ciudad</span></p>
                                                <img class="FotoVehiculo" src="~/FotoVehiculos/@Vehiculo.RutaFoto"
                                                    alt="Foto de @Vehiculo.TipoVehiculo : @Vehiculo.Marca @Vehiculo.Linea" />
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="DivNoVehiculos">
                                        <h3 class="TituloNoVehiculos">No Tienes Vehículos Registrados</h3>
                                    </div>
                                }
                                <div class="DivReportes">
                                    <a class="BotonFormularioCorreo" asp-controller="Reporte"
                                        asp-action="EnviarReportesVehiculosPropietarioPorCorreo">
                                        Enviar Reporte por correo
                                    </a>
                                    <a class="BotonFormularioExcel" asp-controller="Reporte"
                                        asp-action="GenerarReporteVehiculosPropietarioExcel">
                                        Generar Excel
                                    </a>
                                    <a class="BotonFormularioPDF" asp-controller="Reporte"
                                        asp-action="GenerarReporteVehiculosPropietarioPDF">
                                        Generar PDF
                                    </a>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterInformacionVehiculos">
                <footer class="FooterInformacionVehiculos">
                    <span class="TextoFooter">
                        &copy; 2024 - @ViewBag.NombreEmpresa por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>