@model ModeloVerVehiculo;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/InformacionVehiculo.css">
    <title>INFORMACIÓN VEHÍCULOS</title>
</head>

<body class="BodyInformacionVehiculo">
    <div class="ContenidoBodyInformacionVehiculo">
        <div class="DivBarraNavegacionInformacionVehiculo">
            <nav class="BarraNavegacionInformacionVehiculo">
                <div class="LinkLogoInformacionVehiculo">
                    <a asp-controller="Inicio" asp-action="Inicio">
                        <img class="ImagenLogo" src="~/imagenes/Logo.webp" alt="Logotipo" />
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculo">
                    <a asp-controller="Usuario" asp-action="IniciarSesion" class="LinkInformacionVehiculo">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-login-2 IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculo">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculo">
                    <a asp-controller="Usuario" asp-action="InformacionUsuario" class="LinkInformacionVehiculo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculo">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculo">
                    <a asp-controller="Vehiculo" asp-action="InformacionVehiculos" class="LinkInformacionVehiculo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculo">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculo">
                    <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkInformacionVehiculo">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-history IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 8l0 4l2 2" />
                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculo">Ver Mis Alquileres</span>
                    </a>
                </div>
                <div class="DivLinkInformacionVehiculo">
                    <a asp-controller="Usuario" asp-action="CerrarSesion" class="LinkInformacionVehiculo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="TextoLinkInformacionVehiculo">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContenidoInformacionVehiculo">
            <div class="DivEncabezadoInformacionVehiculo">
                <header class="EncabezadoInformacionVehiculo">
                    <h1 class="TitluloPrincipalInformacionVehiculo">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivContenidoPrincipalInformacionVehiculo">
                <div class="DivPrincipalInformacionVehiculo">
                    <main role="main" class="PrincipalInformacionVehiculo">
                        <div class="ContenidoPrincipalInformacionVehiculo">
                            <form method="post" class="FormularioVehiculo" asp-controller="Vehiculo"
                                asp-action="AccionActualizarVehiculo"  enctype="multipart/form-data">
                                <input type="hidden" name="IdVehiculo" id="IdVehiculo" value="@Model.Vehiculo.Id">
                                <input type="hidden" id="TextoClasificacion"
                                    value="@Model.Vehiculo.ClasificacionVehiculo">
                                <input type="hidden" id="TextoMarca" value="@Model.Vehiculo.Marca">
                                <input type="hidden" id="TextoLinea" value="@Model.Vehiculo.Linea">
                                <div class="DivComponentesConFoto">
                                    <div class="ComponentesFormulario">
                                        <div class="GrupoComponentes">
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario InputCorto" type="text" name="Placa"
                                                    value=@Model.Vehiculo.Placa id="Placa" />
                                                <label class="EtiquetaFormulario" for="Placa">Placa</label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario InputCorto" type="text" name="Cilindrada"
                                                    value="@Model.Vehiculo.Cilindrada" id="Cilindrada" />
                                                <label class="EtiquetaFormulario" for="Cilindrada">Cilindrada
                                                    (CC)</label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario InputCorto" type="text" name="Modelo"
                                                    value="@Model.Vehiculo.Modelo" id="Modelo" />
                                                <label class="EtiquetaFormulario" for="Modelo">Modelo</label>
                                            </div>
                                        </div>
                                        <div class="GrupoComponentes">
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario InputCorto" type="text"
                                                    name="PrecioAlquilerDia" value="@Model.Vehiculo.PrecioAlquilerDia"
                                                    id="PrecioAlquilerDia" />
                                                <label class="EtiquetaFormulario" for="PrecioAlquilerDia">
                                                    Precio de Alquiler
                                                </label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario InputCorto" type="text" name="Color"
                                                    value="@Model.Vehiculo.Color" id="Color" />
                                                <label class="EtiquetaFormulario" for="Color">Color</label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario InputCorto" type="text"
                                                    name="CantidadPasajeros"
                                                    value="@Model.Vehiculo.CantidadPasajeros" />
                                                <label class="EtiquetaFormulario" for="CantidadPasajeros"># de
                                                    Pasajeros</label>
                                            </div>
                                        </div>
                                        <div class="GrupoComponentes">
                                            <div class="DivEtiquetaInput">
                                                <select class="SelectFormulario" id="TipoVehiculo">
                                                    @foreach (var TipoVehiculo in Model.TipoVehiculos)
                                                    {
                                                        if (Model.Vehiculo.TipoVehiculo == TipoVehiculo.Nombre)
                                                        {
                                                            <option selected value=@TipoVehiculo.Id class="OptionSelect">
                                                                @TipoVehiculo.Nombre
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value=@TipoVehiculo.Id class="OptionSelect">
                                                                @TipoVehiculo.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                                <label class="EtiquetaFormulario" for="TipoVehiculo">Tipo de
                                                    Vehículo</label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <select class="SelectFormulario" id="ClasificacionVehiculo"
                                                    name="ClasificacionVehiculo">
                                                    @foreach (var Clasificacion in Model.ClasificacionesVehículo)
                                                    {
                                                        if (Model.Vehiculo.ClasificacionVehiculo == Clasificacion.Nombre)
                                                        {
                                                            <option selected value=@Clasificacion.Id class="OptionSelect">
                                                                @Clasificacion.Nombre
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value=@Clasificacion.Id class="OptionSelect">
                                                                @Clasificacion.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                                <label class="EtiquetaFormulario"
                                                    for="ClasificacionVehiculo">Clasificación
                                                    del Vehículo</label>
                                            </div>
                                        </div>
                                        <div class="GrupoComponentes">
                                            <div class="DivEtiquetaInput">
                                                <select class="SelectFormulario" id="Marca">
                                                    @foreach (var Marca in Model.Marcas)
                                                    {
                                                        if (Model.Vehiculo.Marca == Marca.Nombre)
                                                        {
                                                            <option selected value="@Marca.Id" class="OptionSelect">
                                                                @Marca.Nombre
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value=@Marca.Id class="OptionSelect">
                                                                @Marca.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                                <label class="EtiquetaFormulario" for="Marca">Marca</label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <select class="SelectFormulario" id="Linea" name="Linea">
                                                    @{
                                                        string TipoVehiculoLinea = Model.Vehiculo.TipoVehiculo;
                                                    }
                                                    @foreach (var Linea in Model.Lineas)
                                                    {
                                                        if (Model.Vehiculo.Linea == Linea.Nombre && TipoVehiculoLinea ==
                                                        Model.Vehiculo.TipoVehiculo)
                                                        {
                                                            <option selected value=@Linea.Id class="OptionSelect">
                                                                @Linea.Nombre
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value=@Linea.Id class="OptionSelect">
                                                                @Linea.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                                <label class="EtiquetaFormulario" for="Linea">Línea</label>
                                            </div>
                                        </div>
                                        <div class="GrupoComponentes">
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario" type="text" name="NumeroCertificadoCDA"
                                                    value="@Model.Vehiculo.NumeroCertificadoCDA"
                                                    id="NumeroCertificadoCDA" />
                                                <label class="EtiquetaFormulario" for="NumeroCertificadoCDA">Número de
                                                    Certificado CDA</label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <input class="InputFormulario" type="text" name="NumeroSeguro"
                                                    value="@Model.Vehiculo.NumeroSeguro" id="NumeroPolizaSeguro" />
                                                <label class="EtiquetaFormulario" for="NumeroPolizaSeguro">Número de
                                                    Póliza
                                                    de Seguro</label>
                                            </div>
                                        </div>
                                        <div class="GrupoComponentes">
                                            <div class="DivEtiquetaInput">
                                                <select class="SelectFormulario" id="TipoCombustible"
                                                    name="TipoCombustible">
                                                    @foreach (var TipoCombustible in Model.Combustibles)
                                                    {
                                                        if (Model.Vehiculo.TipoCombustible == TipoCombustible.Nombre)
                                                        {
                                                            <option selected value=@TipoCombustible.Id class="OptionSelect">
                                                                @TipoCombustible.Nombre
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value=@TipoCombustible.Id class="OptionSelect">
                                                                @TipoCombustible.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                                <label class="EtiquetaFormulario" for="TipoCombustible">Tipo de
                                                    Combustible</label>
                                            </div>
                                            <div class="DivEtiquetaInput">
                                                <select class="SelectFormulario" id="Ciudad" name="Ciudad">
                                                    @foreach (var Ciudad in Model.Ciudades)
                                                    {
                                                        if (Model.Vehiculo.Ciudad == Ciudad.Nombre)
                                                        {
                                                            <option selected value=@Ciudad.Id class="OptionSelect">
                                                                @Ciudad.Nombre
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value=@Ciudad.Id class="OptionSelect">
                                                                @Ciudad.Nombre
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                                <label class="EtiquetaFormulario" for="Ciudad">Ciudad</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="DivFotoVehiculo">
                                        <img class="FotoVehiculo" src="~/FotoVehiculos/@Model.Vehiculo.RutaFoto" id="EspacioFotoVehiculo"
                                            alt="Foto de @Model.Vehiculo.TipoVehiculo @Model.Vehiculo.Marca @Model.Vehiculo.Linea" />
                                        <div class="DivInputFoto">
                                            <input class="InputFotoVehiculo" name="FotoVehiculo" type="file" id="FotoVehiculo">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="IconoSubirFoto" width="45"
                                                height="45" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000"
                                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path
                                                    d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1" />
                                                <path d="M9 15l3 -3l3 3" />
                                                <path d="M12 12l0 9" />
                                            </svg>
                                        </div>
                                        <label class="EtiquetaFormulario" for="FotoVehiculo">Seleccionar Foto</label>
                                        <div class="DivEtiquetaInput">
                                            <input class="InputFormulario InputCorto" type="text" name="Modelo"
                                                value="@Model.Vehiculo.Estado" id="Estado" readonly />
                                            <label class="EtiquetaFormulario" for="Estado">Estado</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="ComponentesBotones">
                                    <div class="GrupoBotones">
                                        <input class="BotonFormularioActualizar" type="submit"
                                            value="Actalizar Datos" />
                                        @if (Model.Vehiculo.Estado == "Inactivo")
                                        {
                                            <a class="BotonFormularioActivar" asp-controller="Vehiculo"
                                                asp-action="AccionActivarVehiculo" asp-route-IdVehiculo=@Model.Vehiculo.Id>
                                                Activar Vehículo
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="BotonFormularioEliminar" asp-controller="Vehiculo"
                                                asp-action="AccionEliminarVehiculo" asp-route-IdVehiculo=@Model.Vehiculo.Id>
                                                Eliminar Vehículo
                                            </a>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterInformacionVehiculo">
                <footer class="FooterInformacionVehiculo">
                    <span class="TextoFooterInformacionVehiculo">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/js/InformacionVehiculo.js"></script>
</body>

</html>