@model List<ModeloAlquiler>;
@{
    Layout = null;
    float GananciasTotales = 0;
    foreach (var Alquiler in Model)
    {
        GananciasTotales += Alquiler.Ganancia;
    }
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/GestionarAplicacion.css">
    <link rel="stylesheet" href="~/css/HistorialAlquileres.css">
    <title>VER TODOS LOS ALQUILERES</title>
</head>

<body class="BodyGestionarAplicacion">
    <div class="ContenidoBodyGestionarAplicacion">
        <div class="DivBarraNavegacionGestionarAplicacion">
            <nav class="BarraNavegacionGestionarAplicacion">
                <div class="DivLinkLogoGestionarAplicacion">
                    <a asp-controller="Inicio" asp-action="Inicio">
                        <img class="ImagenLogo" src="~/imagenes/@ViewBag.RutaFoto" alt="Logotipo" />
                    </a>
                </div>
                <div class="DivLinkGestionarAplicacion">
                    <a asp-controller="Usuario" asp-action="IniciarSesion" class="LinkGestionarAplicacion">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-login-2 IconoSVGLink" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="TextoLinkGestionarAplicacion">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkGestionarAplicacion">
                    <a asp-controller="Usuario" asp-action="InformacionUsuario" class="LinkGestionarAplicacion">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconoSVGLink"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="TextoLinkGestionarAplicacion">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkGestionarAplicacion">
                    <a asp-controller="Vehiculo" asp-action="InformacionVehiculos" class="LinkGestionarAplicacion">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconoSVGLink"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="TextoLinkGestionarAplicacion">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkGestionarAplicacion">
                    @if (ViewBag.AlquileresPendientes > 0)
                    {
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkGestionarAplicacion">
                            <div class="DivAlquieleresPendientes">
                                <p class="AlquieleresPendientes">
                                    @ViewBag.AlquileresPendientes
                                </p>
                            </div>
                            <span class="TextoLinkGestionarAplicacion">Ver Mis Alquileres</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkGestionarAplicacion">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-history IconoSVGLink" width="35" height="35"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 8l0 4l2 2" />
                                <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                            </svg>
                            <span class="TextoLinkGestionarAplicacion">Ver Mis Alquileres</span>
                        </a>
                    }
                </div>
                <div class="DivLinkGestionarAplicacion">
                    <a asp-controller="Usuario" asp-action="CerrarSesion" class="LinkGestionarAplicacion">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconoSVGLink"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="TextoLinkGestionarAplicacion">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContenidoGestionarAplicacion">
            <div class="DivEncabezadoGestionarAplicacion">
                <header class="EncabezadoGestionarAplicacion">
                    <h1 class="TituloPrincipalGestionarAplicacion">@ViewBag.NombreEmpresa</h1>
                </header>
            </div>
            <div class="DivContenidoPrincipalGestionarAplicacion">
                <div class="DivPrincipalGestionarAplicacion">
                    <main role="main" class="PrincipalGestionarAplicacion">
                        <div class="ContenidoPrincipalGestionarAplicacion">
                            <div class="DivContenedorHistoriales">
                                <div class="DivContenidoHistoriales">
                                    <div class="DivTituloHistoriales DivTituloHistorialesAlquileresRealizados">
                                        <h2 class="TituloHistoriales">Alquileres Realizados ($@GananciasTotales Pesos)
                                        </h2>
                                    </div>
                                    <div class="ContenidoHistoriales">
                                        @if (Model.Count() > 0)
                                        {
                                            @foreach (var Alquiler in Model)
                                            {
                                                <a class="LinkInformacionAlquiler" asp-controller="Administrador"
                                                    asp-action="VerAlquilerAdministrador" asp-route-IdAlquiler=@Alquiler.Id>
                                                    <div class="InformacionAlquiler">
                                                        <div class="InformacionAlquilerParte1">
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Fecha de Inicio</p>
                                                                <p class="ValorInformacionAlquiler">@Alquiler.FechaIncio</p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Usuario</p>
                                                                <p class="ValorInformacionAlquiler">
                                                                    @Alquiler.Alquilador.Usuario.Nombre
                                                                    @Alquiler.Alquilador.Usuario.Apellido
                                                                </p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Tipo Vehículo</p>
                                                                <p class="ValorInformacionAlquiler">
                                                                    @Alquiler.Vehiculo.TipoVehiculo
                                                                </p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Propietario</p>
                                                                <p class="ValorInformacionAlquiler">
                                                                    @Alquiler.Vehiculo.UsuarioPropietario.Nombre
                                                                    @Alquiler.Vehiculo.UsuarioPropietario.Apellido
                                                                </p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Ciudad</p>
                                                                <p class="ValorInformacionAlquiler">
                                                                    @Alquiler.Vehiculo.Ciudad
                                                                </p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Precio</p>
                                                                <p class="ValorInformacionAlquiler">@Alquiler.Precio</p>
                                                            </span>
                                                        </div>
                                                        <div class="InformacionAlquilerParte2">
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Fecha de Fin</p>
                                                                <p class="ValorInformacionAlquiler">@Alquiler.FechaFin</p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Identificación Usuario</p>
                                                                <p class="ValorInformacionAlquiler">
                                                                    @Alquiler.Alquilador.Usuario.NumeroIdentificacion
                                                                </p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Vehículo</p>
                                                                <p class="ValorInformacionAlquiler">
                                                                    @Alquiler.Vehiculo.Marca
                                                                    @Alquiler.Vehiculo.Linea
                                                                </p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">
                                                                    Identificación Propietario
                                                                </p>
                                                                <p class="ValorInformacionAlquiler">
                                                                    @Alquiler.Vehiculo.UsuarioPropietario.NumeroIdentificacion
                                                                </p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Lugar de Recogida y Entrega
                                                                </p>
                                                                <p class="ValorInformacionAlquiler">@Alquiler.Lugar</p>
                                                            </span>
                                                            <span class="DetallesAlquiler">
                                                                <p class="TituloInformacionAlquiler">Ganancias Adquiridas</p>
                                                                <p class="ValorInformacionAlquiler">@Alquiler.Ganancia</p>
                                                            </span>
                                                        </div>
                                                        <div class="InformacionAlquilerParte3">
                                                            <p class="ValorInformacionAlquiler CalificacionAlquiler">
                                                                @Alquiler.Calificacion</p>
                                                            <p class="ValorInformacionAlquiler ComentarioCalificacionAlquiler">
                                                                @Alquiler.ComentarioCalificacion</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                            <div class="DivLinksExportar" id="DivLinksExportar">
                                                <a class="LinkReporte LinkReporteCorreo" asp-controller="Reporte"
                                                    asp-action="EnviarReportesAlquileresAdministradorPorCorreo">
                                                    Eviar Reporte Por Correo
                                                </a>
                                                <a class="LinkReporte LinkReportePDF" asp-controller="Reporte"
                                                    asp-action="GenerarReporteAlquileresAdministradorPDF">
                                                    Generar Reporte en PDF
                                                </a>
                                                <a class="LinkReporte LinkReporteExcel" asp-controller="Reporte"
                                                    asp-action="GenerarReporteAlquileresAdministradorEXCEL">
                                                    Generar Reporte en Excel
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="DivTituloHistoriales">
                                                <h3 class="TituloNoAlquileres">No Hay Alquileres Realizados</h3>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterGestionarAplicacion">
                <footer class="FooterGestionarAplicacion">
                    <span class="TextoFooter">
                        &copy; 2024 - @ViewBag.NombreEmpresa por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/GestionarAplicacion.js" type="module"></script>
</body>

</html>