@model ModeloEditarUsuario;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/InformacionUsuario.css">
    <title>INFORMACIÓN USUARIO</title>
</head>

<body class="BodyInformacionUsuario">
    <div class="ContenidoBodyInformacionUsuario">
        <div class="DivBarraNavegacionInformacionUsuario">
            <nav class="BarraNavegacionInformacionUsuario">
                <div class="LinkLogoInformacionUsuario">
                    <a asp-controller="Inicio" asp-action="Inicio">
                        <img class="ImagenLogo" src="~/imagenes/Logo.webp" alt="Logotipo" />
                    </a>
                </div>
                <div class="DivLinkInformacionUsuario">
                    <a asp-controller="Usuario" asp-action="IniciarSesion" class="LinkInformacionUsuario">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-login-2 IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#1f9102" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                            <path d="M3 12h13l-3 -3" />
                            <path d="M13 15l3 -3" />
                        </svg>
                        <span class="TextoLinktInformacionUsuario">Iniciar Sesión</span>
                    </a>
                </div>
                <div class="DivLinkInformacionUsuario">
                    <a asp-controller="Usuario" asp-action="InformacionUsuario" class="LinkInformacionUsuario">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#020291" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        <span class="TextoLinktInformacionUsuario">Ver Mi Perfil</span>
                    </a>
                </div>
                <div class="DivLinkInformacionUsuario">
                    <a asp-controller="Vehiculo" asp-action="InformacionVehiculos" class="LinkInformacionUsuario">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-car IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#beac0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                        </svg>
                        <span class="TextoLinktInformacionUsuario">Ver Mis Vehiculos</span>
                    </a>
                </div>
                <div class="DivLinkInformacionUsuario">
                    <a asp-controller="Alquiler" asp-action="HistorialAlquileres" class="LinkInformacionUsuario">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-history IconoLinkSVG" width="35" height="35"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 8l0 4l2 2" />
                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                        </svg>
                        <span class="TextoLinktInformacionUsuario">Ver Mis Alquileres</span>
                    </a>
                </div>
                <div class="DivLinkInformacionUsuario">
                    <a asp-controller="Usuario" asp-action="CerrarSesion" class="LinkInformacionUsuario">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login IconoLinkSVG"
                            width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="#be0d0d" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                        <span class="TextoLinktInformacionUsuario">Cerrar Sesión</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="DivContenidoInformacionUsuario">
            <div class="DivEncabezadoInformacionUsuario">
                <header class="EncabezadoInformacionUsuario">
                    <h1 class="PrincipalTitlelInformacionUsuario">Alquiler de Vehículos</h1>
                </header>
            </div>
            <div class="DivContenidoPrincipalInformacionUsuario">
                <div class="DivPrincipalInformacionUsuario">
                    <main role="main" class="PrincipalInformacionUsuario">
                        <div class="ContenidoPrincipalInformacionUsuario">
                            <form class="FormularioActualizarUsuario" asp-controller="Administrador"
                                asp-action="AccionActualizarUsuarioAdministrador" method="post">
                                <input type="hidden" name="IdUsuario" value="@Model.Usuario.Id">
                                <div class="Grupo2Elementos">
                                    <input type="text" name="Nombre" id="Nombre" value="@Model.Usuario.Nombre"
                                        class="InputFormulario" />
                                    <label class="EtiquetaFormulario" for="Nombre">Nombre</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <input type="text" name="Apellido" id="Apellido" value="@Model.Usuario.Apellido"
                                        class="InputFormulario" />
                                    <label class="EtiquetaFormulario" for="Apellido">Apellido</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <select class="SelectFormulario" id="TipoIdentificacion" name="TipoIdentificacion">
                                        @foreach (var TipoIdentificacion in Model.TiposIdentificacion)
                                        {
                                            if (Model.Usuario.TipoIdentificacion ==
                                            TipoIdentificacion.NombreTipoIdentificacionUsuario)
                                            {
                                                <option selected value="@TipoIdentificacion.Id" class="OptionSelect">
                                                    @TipoIdentificacion.NombreTipoIdentificacionUsuario
                                                    (@TipoIdentificacion.SimboloTipoIdentificacionUsuario)</option>
                                            }
                                            else
                                            {
                                                <option value="@TipoIdentificacion.Id" class="OptionSelect">
                                                    @TipoIdentificacion.NombreTipoIdentificacionUsuario
                                                    (@TipoIdentificacion.SimboloTipoIdentificacionUsuario)</option>
                                            }
                                        }
                                    </select>
                                    <label class="EtiquetaFormulario" for="TipoIdentificacion">Tipo de
                                        Identificacion</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <input type="text" name="NumeroIdentificacion" id="NumeroIdentificacion"
                                        value="@Model.Usuario.NumeroIdentificacion" class="InputFormulario" />
                                    <label class="EtiquetaFormulario" for="NumeroIdentificacion">Numero de
                                        Identificacion</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <input type="text" name="Telefono" id="Telefono" value="@Model.Usuario.Telefono"
                                        class="InputFormulario" />
                                    <label class="EtiquetaFormulario" for="Telefono">Telefono</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <input type="text" name="Correo" id="Correo" value="@Model.Usuario.Correo"
                                        class="InputFormulario" />
                                    <label class="EtiquetaFormulario" for="Correo">Correo</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <input type="password" name="name" id="Contraseña" value=""
                                        class="InputFormulario" />
                                    <label class="EtiquetaFormulario" for="Contraseña">Contraseña</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <input type="password" name="Contrasena" id="ConfirmarContraseña" value=""
                                        class="InputFormulario" />
                                    <label class="EtiquetaFormulario" for="ConfirmarContraseña">Confirmar
                                        Contraseña</label>
                                </div>
                                <div class="Grupo2Elementos">
                                    <select class="SelectFormulario" id="Rol" name="Rol">
                                        @foreach (var Rol in Model.Roles)
                                        {
                                            if (Model.Usuario.Rol == Rol.NombreRol)
                                            {
                                                <option selected value="@Rol.Id" class="OptionSelect">
                                                    @Rol.NombreRol
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@Rol.Id" class="OptionSelect">
                                                    @Rol.NombreRol
                                                </option>
                                            }
                                        }
                                    </select>
                                    <label class="EtiquetaFormulario" for="Rol">Rol</label>
                                </div>
                                <div class="Grupo2Elementos DivBotones">
                                    <a class="BotonFormularioEliminar" asp-controller="Usuario"
                                        asp-action="AccionEliminarUsuario" asp-route-IdUsuario=@Model.Usuario.Id>
                                        Eliminar Cuenta
                                    </a>
                                    <input type="submit" value="Actualizar Datos"
                                        class="BotonFormularioActualizar BotonHabilitado" id="BotonActualizarDatos" />
                                </div>
                            </form>
                        </div>
                    </main>
                </div>
            </div>
            <div class="DivFooterInformacionUsuario">
                <footer class="FooterInformacionUsuario">
                    <span class="TextoFooterInformacionUsuario">
                        &copy; 2024 - Alquiler de Vehículos por Mario Gómez y Juan Diego Claros
                    </span>
                </footer>
            </div>
        </div>
    </div>
    </div>
    <script src="~/js/InformacionUsuario.js"></script>
</body>

</html>